.header {
  margin: 0 auto;
  padding: 80px 0;
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

.header__title {
  text-align: center;
  font-size: 4rem;
  padding: 0;
}

.header__form {
  margin: 0 auto;
}

.header__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__search-bar {
  width: 400px;
  height: 45px;
}

.header__button {
  font-family: 'Trebuchet MS', 'Arial', sans-serif;
  display: block;
  height: 45px;
  margin-left: 15px;
}