.recipe {
  min-width: 320px;
  list-style-type: none;
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #4c4c4c;
  background-color: white;
}

.recipe__img {
  width: 100%;
  object-fit: cover;
}

.recipe__title {
  font-size: 2rem;
  margin: 15px 0 15px 10px;
  padding: 0;
  width: 280px;
  text-align: center;
}

.recipe__label {
  margin: 0;
  padding: 5px;
  width: 60px;
  background-color: lightpink;
  font-size: 0.9rem;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
}

.recipe__label_hidden {
  display: none;
}

.recipe__calories {
  margin: 0 0 15px 10px;
  padding: 0;
}

.recipe__ingredient-list {
  margin: 0 0 15px 10px;
  padding: 0;
  list-style-type: circle;
  text-decoration: none;
}

.recipe__ingredient {
  margin: 0 0 0 20px;
  padding: 0;
  width: 250px;
}

.recipe__link {
  margin: 0 0 15px 10px;
  text-decoration: none;
  cursor: pointer;
  background-color: #ffffe0;
  color: #a55500;
  text-align: center;
  position: relative;
  right: -230px;
}
