
.recipes {
  margin: 0 auto;
  background-color: #eeeeee;
}

.recipes__list {
  margin: 0 auto;
  padding-top: 40px;
  max-width: 90%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  justify-items: center;
}