
.recipes {
  margin: 0 auto;
}

.recipes__list {
  margin: 25px auto 0;
  max-width: 80%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 2rem;
  justify-items: center;
}