.search {
  margin: 0 auto;
  padding: 80px 0;
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

.search__title {
  text-align: center;
  font-size: 5rem;
  font-style: normal;
  font-weight: bold;
  color: #565656;
  padding: 0;
}

.search__form {
  margin: 0 auto;
  min-height: 10vh;
}

.search__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search__search-bar {
  padding: 10px;
  width: 50%;
  height: 45px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: normal;
}

.search__button {
  font-family: 'Trebuchet MS', 'Arial', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  display: block;
  padding: 10px 20px;
  height: 55px;
  margin-left: 15px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: lightbeige;
  border: none;
  color: #6c6c6c;
}